<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Question</title>
</head>
<body>
{% if result == [] %}
<h1>Add New Question</h1>
<form actions="/add-question" method="post">
    Question Name: <br>
    <input type="text" name="question_name"><br>
    Question: <br>
    <textarea type="text" rows="10" cols="40" name="question"></textarea><br>
    <br>
    <input type="submit">
</form>
{% else %}
<h1>Edit Question</h1>
<form action="/rewrite_question", method="post">
    Question Name: <br>
    <input type="text" name="title" value="{{result['title']}}"><br>
    Question: <br>
    <textarea type="text" rows="10" cols="40" name="message">{{result['message']}}</textarea><br>
    <br>
    <input type="hidden" name="id" value="{{ result['id'] }}">
    <input type="hidden" name="submission_time" value="{{ result['submission_time'] }}">
    <input type="hidden" name="view_number" value="{{ result['view_number'] }}">
    <input type="hidden" name="vote_number" value="{{ result['vote_number'] }}">
    <input type="hidden" name="image" value="{{ result['image'] }}">

        <input type="submit">
    {% endif %}
</form>
</body>
</html>