<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
</head>
<body>
    <h1>Edit Question</h1>
    <p>{{question['message']}}</p>
    <form actions="/question_page/<id>/edit_question'" method="post">
        Question Name: <br>
        <input type="text" name="question_name" value="{{question['title']}}"><br>
        Question: <br>
        <textarea type="text" rows="10" cols="40" name="question">{{question['message']}}</textarea><br>
        <br>
        <input type="submit">
    </form>

</body>
</html>
