<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id="login">
    <a>{{ login_message }}</a>
    <form action="/login" method="POST">
        <input class="user_name" placeholder="username" name="username">
        <input class="password" placeholder="password" name="password" type="password">
        <input type="submit" value="Login">
    </form>
    <a href="{{ url_for('registration') }}" class="button">Sign in</a>
</div>
</body>
</html>