<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post an Answer</title>
</head>
<body>
<h1>Post an Answer</h1>
<form action="/question_page/<id>/new-answer", method="post">
<td>Question ID</td><br>
<input type="text" name="question" id="question" value="{{question['id']}}"><br>
<td>Message</td><br>
<textarea name="message" id="message" aria-multiline="true"></textarea><br>
<td>Image</td><br>
<input type="text" name="image" id="image"><br>
<button type="submit">Save</button>
</form>
</body>
</html>