<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{question['title']}}</title>
</head>
<body>

ID :{{question[0]['id']}}<br>
Submission Time: {{question[0]['submission_time']}}<br>
View Number: {{question[0]['view_number']}}<br>
Vote Number: {{question[0]['vote_number']}}<br>
<form action="/question_page/<question_id>/vote" method="post" name="up">Vote up</form>
<form action="/question_page/<question_id>/vote" method="post" name="down">Vote down</form>
Title: {{question[0]['title']}}<br>
Message:{{question[0]['message']}}<br>
Image:{{question[0]['image']}}<br>

<a href="{{url_for('edit_question', id=question['id'])}}">edit question</a>


<h2>Answers:</h2>
{%for answer in answers%}
    {{answer['message']}}
    <br>
{%endfor%}
<form action="/question_page/{{ question['id'] }}/new-answer" method="POST">
    <a href="{{url_for('post_an_answer',question_id=question['id'], class="button")}}">Post an Answer</a>
</form>
</body>
</html>